blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Scss==0.5
Flask-SQLAlchemy==3.1.1
greenlet<2.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pyScss==1.4.0
SQLAlchemy==2.0.30
typing-extensions
Werkzeug==3.0.3


